<div class="intro">
    <div class="splash">
        
        {{#if splash.head}}
        <div class="head">
            <h1>{{splash.head}}</h1>
        </div>
        {{/if}}
        <p class="splash-subhead">
            {{splash.subhead}}
        </p>

        {{#if splash.buttons}}
        <p>
            {{#each splash.buttons}}
            <a href="{{link}}" class="button large">{{text}}</a>
            {{/each}}
        </p>
        {{/if}}
    </div>
</div>

<div class="body">
    <div class="row header-container">
        <div class="header{{#if menu.sticky}} sticky-menu{{/if}}">
            <!-- LOGO -->
            <div class="column grid-5 logo-container">
                {{#if logo}}
                {{#if logo.url}}
                <a href="{{logo.url}}">
                {{/if}}
                <img alt="{{logo.alt}}" src="{{logo.src}}">
                {{#if logo.url}}
                </a>
                {{/if}}
                {{/if}}
            </div>

            <!-- TOP MENU -->
            <div class="column grid-7 menu-container">
                <ul class="menu">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- CENTERED -->
    <div class="content">

        <!-- SECTION 1 -->
        <div class="section">

            <div class="row">
                <div class="grid-12 column title">
                    <h1>About Us</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="grid-12 column">
                    <div class="block">

                        <p>Praesent consectetur ante erat, vitae feugiat tellus rhoncus quis. In hac habitasse platea dictumst. Donec a neque congue, varius enim rhoncus, laoreet lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                        <p>Duis nec leo sit amet metus imperdiet lobortis quis a mauris. Praesent consectetur ante erat, vitae feugiat tellus rhoncus quis. In hac habitasse platea dictumst. Donec a neque congue, varius enim rhoncus, laoreet lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                        <p class="expose">Duis nec leo sit amet metus imperdiet lobortis quis a mauris. Praesent consectetur ante erat, vitae feugiat tellus rhoncus quis. In hac habitasse platea dictumst. Donec a neque congue, varius enim rhoncus, laoreet lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit <a href="">Some link</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End section 1 -->

        <!-- SECTION 2 - an example of the grid -->
        <div class="section">
            <div class="row">
                <div class="grid-12 column title">
                    <h1>The Grid</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="grid-12 column">
                    <div class="block"></div>
                </div>
            </div>

            <div class="row">
                <div class="grid-7 column">
                    <div class="block"></div>
                </div>
                <div class="grid-5 column">
                    <div class="block"></div>
                </div>
            </div>

            <div class="row">
                <div class="grid-8 column">
                    <div class="block"></div>
                </div>
                <div class="grid-4 column">
                    <div class="block"></div>
                </div>
            </div>

            <div class="row">
                <div class="grid-3 column">
                    <div class="block"></div>
                </div>
                <div class="grid-3 column">
                    <div class="block"></div>
                </div>
                <div class="grid-3 column">
                    <div class="block"></div>
                </div>
                <div class="grid-3 column">
                    <div class="block"></div>
                </div>
            </div>

        </div>
        <!-- END SECTION 2 -->

        <!-- END SECTION 3 - pricing table -->
        <div class="section">
            <div class="row">
                <div class="grid-12 column title">
                    <h1>Unmatched Prices</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="grid-6 column left">
                    <div class="block">
                        <p>Duis nec leo sit amet metus imperdiet lobortis quis a mauris. Praesent consectetur ante erat, vitae feugiat tellus rhoncus quis.</p>
                        <div class="pricing-list">
                            <ul>
                                <li>Best features of them all</li>
                                <li>Great customer services</li>
                                <li>Best features of them all</li>
                                <li>Great customer services</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- PRICING TABLE -->
                <div class="grid-6 column pricing">
                    <div class="table">
                        <div class="pricing-column column grid-4 medium-split-2">
                            <div class="column-wrap">
                                <div class="column-content">$0</div>
                                <a href="#" class="column-link">
                                   SIGNUP 
                                </a>
                            </div>
                        </div>

                        <div class="pricing-column column grid-4 medium-split-2">
                            <div class="column-wrap middle">
                                <div class="column-content">$10</div>
                                <a href="#" class="column-link">
                                   BUY 
                                </a>
                            </div>
                        </div>
                        
                        <div class="pricing-column column grid-4 medium-split-1">
                            <div class="column-wrap">
                                <div class="column-content">$20</div>
                                <a href="#" class="column-link">
                                   BUY 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End section 3 -->

        <!-- SECTION 4 -->
        <div class="section">

            <div class="row">
                <div class="grid-12 column title">
                    <h1>Trusted By</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="grid-12 column">
                    <div class="block companies">
                        <img alt="twitter" src="./assets/images/companies/twitter.png">
                        <img alt="shopify" src="./assets/images/companies/shopify.png">
                        <img alt="lyft" src="./assets/images/companies/lyft.png">
                        <img alt="rackspace" src="./assets/images/companies/rackspace.png">
                        <img alt="digitaloccean" src="./assets/images/companies/digitalocean.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- END SECTION 4 -->
    </div>
    <!-- END CONTENT -->

    <!-- Footer -->
    <div class="footer">
        <div class="row">
            <div class="column grid-8">
                <div>
                    <a href="#" class="button with icon only">
                        <span class="icon-twitter"></span>
                    </a>
                    <a href="#" class="button with icon only">
                        <span class="icon-facebook"></span>
                    </a>
                    <a href="#" class="button with icon only">
                        <span class="icon-linkedin"></span>
                    </a>

                    <a href="#" class="button with icon">
                        <span class="icon-at-sign separate"></span>
                        Contact us
                    </a>
                </div>
            </div>

            <div class="column grid-4">
                <div class="footer-right">
                    &copy; 2014 breez.com
                </div>
            </div>
        </div>

    </div>

</div>


